.header {
  text-align: center;
  margin-bottom: 2rem;

  & h1 {
    margin: 2rem 0 0.5rem 0;
  }

  & img {
    border-radius: 3px;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: smaller;

    & li:first-child {
      text-transform: capitalize;
    }

    & li {
      display: inline-block;
    }

    & li + li::before {
      content: "|";
      margin: 0 0.5em;
    }
  }
}
