.layout {
  max-width: calc(var(--layout-width) + var(--column-gap) * 2);
  padding: 0 var(--column-gap);
  margin: 0 auto;
}

.header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & figure {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;

    & img {
      height: 1.5em;
      width: auto;
      margin-right: 0.5rem;
    }

    & figcaption {
      line-height: 1;
    }
  }
}

.nav {
  & ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  & li {
    margin-left: 1rem;
  }
}

.topBar {
  border: 0;
  height: 0.3rem;
  margin: 0;
  background: linear-gradient(
    to right,
    var(--color-red),
    75%,
    var(--color-purple) 75%
  );
}

.bottomBar {
  border: 0;
  height: 0.3rem;
  margin: 1.5rem 0;
  background: linear-gradient(
    to right,
    var(--color-red),
    25%,
    var(--color-purple) 25%
  );
}

.footer {
  padding-bottom: 1.5rem;
  text-align: center;
  font-style: italic;
  font-size: smaller;

  & img {
    vertical-align: middle;
  }

  & p {
    margin: 0 20%;
  }
}
