.posts {
  margin: var(--column-gap) 0;

  & h2 a {
    color: inherit;
    text-decoration: none;
  }

  & article > *:last-child {
    margin-bottom: 0;
  }

  & p {
    text-align: justify;
  }
}

@media (--small-viewport) {
  .posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--column-gap);
  }
}
