body {font-family: Georgia,"Times New Roman",serif;font-size: 12pt;line-height: 18pt;}
#header, #footer, #discussion, #recommended {display: none;}
a:link, a:visited {background: transparent;color: inherit;text-decoration: none;}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") ";color: #444;}
a[href^="http://"] {color: blue;}